{% extends 'base.html.twig' %}

{% block header_title %}Liste des tâches{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="d-flex align-items-center gap-2 mb-2">
        <a href="{{ path('task_create') }}" class="btn bg-light-blue pull-right"><i class="fa-solid fa-plus"></i> Créer une tâche</a>
        
        <form method="get" action="{{ path('task_list') }}" class="">
            <select class="form-select w-auto" name="status" onchange="this.form.submit()">
                <option value="all" {% if filter == 'all' %}selected{% endif %}>Toutes</option>
                <option value="in_progress" {% if filter == 'in_progress' %}selected{% endif %}>En cours</option>
                <option value="is_done" {% if filter == 'is_done' %}selected{% endif %}>Terminées</option>
            </select>
        </form>
    </div>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card gap-2 my-2
                {% if not task.done %} 
                    bg-light-yellow
                {% else %} 
                    bg-light-green
                {% endif %}">
                <div class="card-header">
                    <h4>{{ task.title }}</h4>
                    <small>Création : {{ task.createdAt|date('d/m/Y') }}</small>
                    
                    {% if task.dueDate %}
                    <br><small>Date limite : {{ task.dueDate|date('d/m/Y') }}</small>
                    {% endif %}
                    
                    {% if task.priority is not null %}
                        <br>
                        <small> Priorité : 
                            {% if task.priority == "low" %}
                                <span class="border btn btn-sm bg-light-green">Basse</span>
                            {% endif %}
                            {% if task.priority == "medium" %}
                                <span class="border btn btn-sm bg-light-yellow">Moyenne</span>
                            {% endif %}
                            {% if task.priority == "high" %}
                                <span class="border btn btn-sm bg-orange">Haute</span>
                            {% endif %}
                        </small>
                    {% endif %}

                </div>
                <div>
                    <div class="card-body">
                        <p>{{ task.content }}</p>
                    </div>

                    <div class="card-footer d-flex gap-2">
                    {% if task.author is not null %}
                    <div>
                        <small class="btn btn-sm btn-outline-secondary">{{ task.author.username }}</small>
                    </div>
                    {% endif %}

                    <div class=" d-flex gap-2 flex-wrap">
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                            {% if task.isDone %}
                            <button class="btn bg-green btn-sm"><i class="fa-solid fa-check"></i></button>
                            {% else %}
                            <button class="btn bg-yellow btn-sm"><i class="fa-solid fa-check"></i></button>
                            {% endif %}
                        </form>

                        <a href="{{ path('task_edit', {'id' : task.id }) }}" class="btn bg-dark-blue btn-sm"><i class="fa-solid fa-pen"></i></a>

                        {% if is_granted('TASK_DELETE', task ) %}
                            <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                <button class="btn bg-orange btn-sm"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
