{{ form_start(form, {'action': path(path, id is defined ? {'id': id} : {})}) }}
    <div class="my-2">
        {{ form_row(form.username) }}
    </div>
    <div class="my-2">
        {{ form_row(form.email) }}
    </div>

    {% if form.password is defined %}
        <div class="my-2">
            {{ form_row(form.password) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.roles) }}
        {% for checkbox in form.roles %}
            <div class="form-check">
                {{ form_widget(checkbox, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(checkbox, null, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-success pull-right mt-2">
        {{ path == 'user_create' ? 'Ajouter' : 'Modifier' }}
    </button>

{{ form_end(form) }}
