{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}Liste des utilisateurs{% endblock %}

{% block body %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_create') }}" class="btn bg-light-blue"><i class="fa-solid fa-plus"></i> Créer un utilisateur</a>
                    {% endif %}
        {% if users|length == 0 %}
        <div class="alert bg-yellow" role="alert">
            Il n'y a pas encore d'utilisateur enregistré.
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Rôle</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse d'utilisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            {% if 'ROLE_ADMIN' in user.roles %}
                            <small class="btn btn-sm btn-outline-warning">Admin</small> 
                            {% else %} 
                            <small class="btn btn-sm btn-outline-secondary">Utilisateur</small> 
                            {% endif %}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn bg-light-blue btn-sm"><i class="fa-solid fa-pen"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
